@import "../node_modules/@ag-grid-community/core/dist/styles/ag-grid.css";
@import "../node_modules/@ag-grid-community/core/dist/styles/ag-theme-alpine.css";

html, body{
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 0.83;
    transition: opacity 0.6s;
    margin: 15px auto;
    max-width: 500px;
    border-radius: 5px;
}